<section class="container container-about">
    <div style="text-align: justify; margin: 0 auto;">
        <h1 style="text-align: center;">About</h1>
        <p>
            Hi there! <br />
            My name is Céline, and I am a PhD student at the University of Gothenburg. I am also a language lover, and by that, I mean <em>any</em> kind of languages—may they be programming or natural languages. <br />
            This portfolio gives you a quick overview of my research and background. If you would like to chat about any of these, please reach out!
        </p>
    </div>
</section>
