<section class="container container-skills">
    <div class="row">
        <div class="col-md-12">
            <h1>Skills</h1>
            <br/>
        </div>
        <strong><em><font size="+2">Programming languages</font></em></strong><br/>
        <strong><em><font size="+1">Main programming langages:</font></em></strong><br/>
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">Python</font></em></strong> Advanced<br/>
                <strong>Used in:</strong> MSc in Natural Language Processing, MSc in Linguistics, and nearly all of my side projects<br/>
                <strong>Libraries:</strong> Pytorch, sklearn, transformers, deepeval, etc.
            </p>
        </div>
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">JavaScript</font></em></strong> Intermediate<br/>
                <strong>Used in:</strong> MSc in Natural Language Processing, dialogue-based language game<br/>
                <strong>Libraries:</strong> XState
            </p>
        </div>
        <strong><em><font size="+1">Other languages: </font></em></strong>SQL, R<br/>
        <br/>
        <strong><em><font size="+1">Development tools: </font></em></strong>Git, Excel, VS Code, Power BI<br/>
        <br/>
        <strong><em><font size="+1">Cloud: </font></em></strong>Azure<br/>
        <br/>
        <strong><em><font size="+2">Natural languages</font></em></strong><br/> 
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">French</font></em></strong> Native<br/>
            </p>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
                <strong><em><font size="+1">English</font></em></strong> Native-like, C2<br/>
                <strong>Certificate:</strong> Cambridge Advanced Certificate (CAE), obtained June 2016<br/>
            </p>
        </div>
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">German</font></em></strong> Advanced, C1<br/>
                <strong>Certificate:</strong> Language certificate from the University of Heidelberg, level C1, obtained March 2019<br/>
            </p>
        </div>
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">Swedish</font></em></strong> Intermediate, B2<br/>
                <strong>Certificate:</strong> Language certificate from the University of Gothenburg, level B1, obtained January 2023<br/>
            </p>
        </div>
        <div class="col-sm-12 col-md-12">             
            <p>
                <strong><em><font size="+1">Italian</font></em></strong> Intermediate, B2<br/>
                <strong>Certificate:</strong> Language certificate from the University of Sienna, level B1, obtained January 2019<br/>
            </p>
        </div>

    </div>
</section>
